:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: #d49466;
}
/* 사용은 var(변수명) */

.login__body-child {
  margin-left: 18rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.login__banner {
  height: 60%;
  width: 30%;
  border: 1px dotted black;
  text-align: center;
}

.login__box {
  height: 60%;
  width: 25%;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.login__box div {
  padding: 12px 8px
}

.login__box span {
  width: 100%;
  padding-left: 60px;
  font-size: 40px;
  text-align: left;
}

.login__basic-login-button, .login__social-login-button {
  display: flex;
  justify-content: center;
}

.login__basic-login-button button {
  padding: 4px 4px;
  margin: 1px 10px;
}

.login__social-login-button button {
  font-size: 16px;
  border-radius: 50px;
}

.login__social-login-button button:hover {
  background-color: bisque;
}

/* signup  */
.signup__body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__body-child {
  height: 70%;
  width: 40%;
  border: 1px solid black;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signup__body-child input {
  margin-top: 25px;
  padding: 8px 40px;  
  border-radius: 30px;
}
.signup__button, .signup__error-message {
  margin-top: 10px;
}
