@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
/* 구글 폰트 source / 사용 : font-family: 'Noto Sans KR', sans-serif; */

:root {
  --text-color: #FCEDDA;
  --background-color: #263343;
  --accent-color: #d49466;
}
/* 사용은 var(변수명) */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

/*========= login =========*/
.login__body {
  background: url(./images/image1.jpeg) no-repeat center;
  background-size: cover;
}

.login__body::before {
  content:"";
  position: absolute; z-index: 1;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: rgba(0, 0, 0, .7);  
}

.login__body-child {
  /* margin-left: 18rem; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.login__header {
  color: #FCEDDA;
  z-index: 1;
  position: fixed;
  align-self: flex-start;
  font-size: 2.5rem;
  font-style: italic;
}

.login__banner {
  height: 65%;
  width: 30%;
  text-align: left;
  color: var(--text-color);
  padding: 12px 12px;
  align-self:center;
  z-index: 1;
  font-size: 1.5rem;
  white-space: pre-wrap;
}

.login__box {
  height: 60%;
  width: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-left: 180px;
}

.login__box > div {
  padding: 12px 8px
}

.login__box > span {
  width: 100%;
  padding-left: 30px;
  font-size: 2.1rem;
  text-align: left;
  color: var(--text-color);
  margin-bottom: 10px;
}

.login__id-pw {
  width: 75%;
  position: relative;
  margin-top: 15px;
}

.login__id-pw:first-child {
  margin-top: 0;
}

.login__box input {
  width: 100%;
  padding: 8px 5px 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-size: 14px; color: var(--text-color);
  outline: none;
}

.login__box label {
  position: absolute;
  left: 10px; top: 20px; font-size: 14px; color: #999;
  transition: all .5s ease;
}

.login__box input:focus + label,
.login__box input:valid + label {
  top: -2px;
  font-size: 12px; color: #166cea;
}

.login__basic-login-button, .login__social-login-button {
  width: 100%;
  display: flex;
  justify-content: center;
}


.login__basic-login-button > button {
  margin-top:5px;
  width: 80%;
  height: 30px;
  background-color: #166cea;
  color: var(--text-color);;
  font-size:14px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

#signup-link {
  color: var(--text-color);
  cursor: pointer;
  text-decoration: none;
}
  
.login__social-login-button button {
  font-size: 1.3rem;
  outline: none;
  cursor: pointer;
  color: var(--accent-color);
  background: #5a5a5a;
}

.login__social-login-button button:hover {
  background-color: bisque;
}

.login__error-message {
  color: var(--text-color);;
}

/*========= signup  =========*/
.signup__body {
  background: url(./images/image1.jpeg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup__body-child {
  height: 80%;
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 65px;
  background: #e0e0e0;
  box-shadow:  10px 10px 30px #5a5a5a, -10px -10px 30px #ffffff;
}
.signup__sign-text {
  color: #7b9acc;
  font-weight: bold;
}

.signup__user-info {
  width: 55%;
}

.signup__body-child input {
  width: 100%;
  margin-top: 25px;
  padding: 8px 40px;  
  border-radius: 30px;
}

.signup__button {
  cursor: pointer;
}

#login-link {
  text-decoration: none;  
}

.signup__button, .signup__error-message {
  margin-top: 14px;
  margin-bottom: 12px;
  
}

@media screen and (max-width: 600px) {
  .login__banner {
    display: none;
  }

  .login__box {
    width: 80%;
    margin-left: 0px;
  }

}
@media screen and (max-width: 700px) {
  .signup__body-child {
    width: 70%;
  }
}

