*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.home__root {
  min-width: 100vw;
  min-height: 100vh;
  background: url(../images/image10.jpg) no-repeat center;
  background-size: cover;
}

/* .home__root::before {
    content:"";
    position: absolute; z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, .4);
    min-width: 100vw;
    min-height: 100vh;  
} */

.home__body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;    
}

.post-list{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-self: center;
    width: auto;
    height: auto;
    padding: 1% 0%;
    z-index: 1;
}
