@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
:root {
    --line-color: #999;
}
/* 사용법 : var(변수명) */
*{
    box-sizing: border-box;
    /* font-size: 100%; */
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

a { 
    text-decoration:none
}

.mypage__body{
    display: flex;
    flex-direction: column;
    background: url(../images/image3.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}

.user-info{
    display: flex;
    height: 85vh;
    width: 30%;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-top: 32px;
    margin-bottom: 10px;
    border-radius: 65px;
    background: #e0e0e0;
    box-shadow:  10px 10px 30px #5a5a5a, -10px -10px 30px #ffffff;
}

.fa-user{
    font-size: 5em;
}

.user-info__profile{
    padding: 5%;
    height: 30%;
    display: flex;
    justify-content: center;
}

.user-info__profile > img {
    height: 90%;
    width : 30%;
    border-radius: 60px;
    
}

.user-info__links{
    border-top: 1px solid var(--line-color);
    border-bottom: 1px solid var(--line-color);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
}

.user-info__links > div{

    border: 1px solid var(--line-color);
    width: 15%;
    border-radius: 50%;
    padding: 5% 4%;
    margin: 5px 20px;
    color: var(--line-color);
    text-align: center;
    cursor: pointer;
    
    /* 링크 이미지 */
}

.user-info__info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60%;
}

.user-info__info-box > div{
    /*유저정보*/
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--line-color);
    width: 70%;
    height: 14%;
    border-radius: 10px;
}

.user-info__button{
    display: flex;
    width: 100%;
    height: 5em;
    justify-content: space-around;
    align-items: center;
    padding: 2% 24%;
}

.user-info__button > button{ 
    /*버튼*/
    border: 1px solid black;
    border-radius: 5px;
    padding: 5% 10%;
    /*버튼*/
}

.user-info__button > div:hover{
    background: linear-gradient(145deg, #ebeaea, #f0f0f0);
    cursor: pointer;
}

@media screen and (max-width: 900px){

    .user-info{
        display: flex;
        border: 1px solid black;
        border-radius: 10px;
        height: 80vh;
        width: 40vw;
        flex-direction: column;
        align-items: center;
        align-self: center;
        margin-top: 2%;
    }
    .user-info__profile {
        margin-top: 24px;
    }

    .fa-user{
        font-size: 3em;
    }

    .user-info__links{
        display: none; /* 아예 없는게 나을지? */
        justify-content: center;
    }

    /* .user-info__links div{
        display: none;
        border: 1px solid black;
        border-radius: 50%;
        padding: 2% 2%;
        margin: 5px 20px;
    } */

    /* .user-info__links div:first-child{
        display: block;
    } */

    .user-info__info-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10%;
        width: 100%;
        height: 60%;
    }
    
    .user-info__info-box > div{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        width: 80%;
        height: 14%;
        border-radius: 10px;
        /*유저정보*/
    }

    .user-info__button{
        padding: 2% 14%
    }

    .user-info__button > div{ 
        border: 1px solid black;
        border-radius: 5px;
        padding: 6% 2%;
        margin: 5%;
        width: 40%;
        height: 50%;
        text-align: center;
        /*버튼*/
    }
}
