*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.commentBox__body{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2%;
    margin: 0.5%;

}


.commentBox__profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 8vw;
    padding-right:2%;
}

.commentBox__contents__user-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 15vh;
    width: 80vw;
}

.commentBox__contents__user-info > div:nth-child(1),
.commentBox__contents__user-info > div:nth-child(2){
    text-align: start; 
    font-size: large;
    font-weight: bold;
}

.commentBox__contents__user-info > div:nth-child(3){
    text-align: center;
}

.commentBox__contents__comment{
    grid-column: 1/4;
    height: 100%;
    width: 100%;
    overflow: scroll;
}

@media screen and (max-width: 768px){

    .commentBox__body{
        display: block;
        padding: 0;
    }
    
    .commentBox__contents__user-info{
        display: flex
    }

    .commentBox__profile{
        display: none;
    }
    
    .commentBox__contents__user-info > div:nth-child(2),
    .commentBox__contents__user-info > div:nth-child(3){
        display: none;
    }

    .commentBox__contents__user-info > div:nth-child(1){
        width: 5em;
    }

}